<div class="loginWrap">
  <div class="logoWrap">
    <img src="assets/imgs/logo.png">
  </div>
  <div class="formWrap">
    <form #loginForm="ngForm" novalidate>
        <div class="formItem code">
          <input type="text" placeholder="请输入手机号" [(ngModel)]="userPhone" name="userPhone">
          <button class="ripple" (click)="getPhoneCode(userPhone)">{{codeBtnTip}}</button>
        </div>
        <div class="formItem">
          <input type="text" placeholder="请输入收到的验证码" [(ngModel)]="phoneCode" name="phoneCode">
        </div>
        <div class="btn">
          <button class="ripple" (click)="userLogin(userPhone, phoneCode)">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        </div>
    </form>
  </div>
</div>
