<div #taskListwrap class="taskListWrap">
  <div class="taskGroupWrap" *ngFor="let taskDateKey of taskMap.keys()">
    <span class="taskDateTip">{{taskDateKey | remandDate}}</span>
    <div class="taskItemWrap ripple" *ngFor="let task of taskMap.get(taskDateKey)" (init)="alert(2332)" (click)="toTaskDetail(task)">
      <div class="addressStart">{{task.startAddress}}</div>
      <div class="addressEnd">{{task.endAddress}}</div>
      <div class="currentApplyNum">
        <div class="circleApplyNum {{task.demandId}} {{task.driverNumber}}"></div>
      </div>
      <div class="desWrap">
        <span>发货日期：{{task.startTime | remandDate : 'yy.MM.dd'}}—{{task.endTime | remandDate : 'yy.MM.dd'}}</span>
        <span>类型：精煤</span>
      </div>
      <div class="footer flex-r flex-b">
        <span>
          距装货地约
          <span class="distance">{{task.userDistance}}</span> 公里，运输里程约
          <span class="distance">{{task.orderDistance}}</span> 公里
        </span>
        <span>
          <span class="money">{{task.freight}}</span> 元 / 吨</span>
      </div>
    </div>
  </div>
  <div class="noDataWrap" [hidden]="taskMap != null && taskMap.size > 0 && !isRefing">
    <div #loadingDataTipWrap class="loadingDataTipWrap">
      <img src="assets/imgs/data_loading.gif">
      <span>数据加载中</span>
    </div>
    <div #requestIsOuttimeTipWrap class="dataIsEmptyTipWrap" (click)="clickRequestTimeoutBtn()">
      <img src="assets/imgs/request_task_error.gif">
      <span>{{errShowTip}}，点击重新加载</span>
    </div>
    <div #dataIsEmptyTipWrap class="dataIsEmptyTipWrap">
      <img src="assets/imgs/request_task.gif">
      <span>还没有发布的任务哦</span>
      <span class="btn ripple" (click)="clickNoDataBtn()">我要去发布</span>
    </div>
  </div>
</div>
