<div #taskListwrap class="taskListWrap">
  <div class="taskItemWrap" *ngFor="let taskDateKey of taskMap.keys()">
    <span class="taskDateTip">{{taskDateKey}}</span>
    <div class="taskItemWrap" *ngFor="let task of taskMap.get(taskDateKey)" (click)="toTaskDetail(task)">
      <span class="orderNum">订单号：{{task.name}}</span>
      
    </div>
  </div>
  <div class="noDataWrap" [hidden]="taskMap != null && taskMap.size > 0 && !isRefing">
    <div #loadingDataTipWrap class="loadingDataTipWrap">
      <img src="assets/imgs/data_loading.gif">
      <span>数据加载中</span>
    </div>
    <div #requestIsOuttimeTipWrap class="dataIsEmptyTipWrap" (click)="clickRequestTimeoutBtn()">
      <img src="assets/imgs/request_task_error.gif">
      <span>{{errShowTip}}，点击重新加载</span>
    </div>
    <div #dataIsEmptyTipWrap class="dataIsEmptyTipWrap">
      <img src="assets/imgs/request_task.gif">
      <span>还没有发布的任务哦</span>
      <span class="btn ripple" (click)="clickNoDataBtn()">我要去发布</span>
    </div>
  </div>
</div>
