scrollview {
    .mainContent {
        // background: #ffffff;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        .loadMore {
            position: absolute;
            bottom: 0px;
            display: none;
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }
}
