<div class="switchPageWrap">
  <div #switchItemWrap class="switchItemWrap" [hidden]="hideFlag">
    <div class="switchTabSlideRail">
      <span class="switchTabItem {{switchIndex == 0 ? 'switchTabItemSelected' : ''}}" [ngStyle]="switchTabCss" *ngFor="let switchTab of switchTabs; let switchIndex = index;"
        (click)="switchTabSelected(switchTab)">{{switchTab.txt}}</span>
    </div>
    <span class="switchTabIndicator" [ngStyle]="switchTabCss"></span>
  </div>
  <div #switchTabsWrap class="switchTabsWrap" [ngStyle]="switchTabsWrapCssStyle">
    <ng-content></ng-content>
  </div>
</div>
