<ion-header>
  <title-bar [title]="'任务'"></title-bar>
  <slide-tab [tabs]="tabs"></slide-tab>
</ion-header>

<ion-content>
  <switch-pages *ngIf="tabs[0].selected" [switchTabs]="switchTabsByStatus">
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_1'">
        23423第一页{{tabs[0].selected}}
      </scrollview>
    </switch-page>
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_2'">
        23434第二页
      </scrollview>
    </switch-page>
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_3'">
        23434第三页
      </scrollview>
    </switch-page>
  </switch-pages>
  <switch-pages *ngIf="tabs[1].selected" [switchTabs]="switchTabsByTime">
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_1'">
        23423第一页{{tabs[1].selected}}
      </scrollview>
    </switch-page>
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_2'">
        23434第二页
      </scrollview>
    </switch-page>
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_3'">
        23434第三页
      </scrollview>
    </switch-page>
    <switch-page>
      <scrollview [canSwitchSlide]="true" [scrollviewRank]="'page_4'">
        23434第四页
      </scrollview>
    </switch-page>
  </switch-pages>
</ion-content>
