<form class="formWrap" [ngStyle]="cssStyle" #customForm="ngForm" novalidate>
  <div class="formItem {{formIt.style=='1' ? 'formItem_style_1' : ''}} {{formIt.type == 'textarea' ? 'formItem_textarea' : ''}}"
    *ngFor="let formIt of formItemArr" (click)="formIt.callBack != null ? formIt.callBack(formIt) : {}">
    <span *ngIf="formIt.style=='1' && formIt.lTxt != ''" class="titleTxt">{{formIt.lTxt}}：</span>
    <i *ngIf="formIt.type != 'textarea' && formIt.lIcon != ''" class="iconfont {{formIt.lIcon}}"></i>
    <i *ngIf="formIt.type != 'textarea' && formIt.rIcon != ''" class="iconfont {{formIt.rIcon}}"></i>
    <input *ngIf="formIt.type == 'input'" type="text" placeholder="{{formIt.placeholder}}" required="{{formIt.request ? true : false}}"
      [(ngModel)]="dataBindContainer[formIt.ngBind]" name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel">
    <input *ngIf="formIt.type == 'address'" type="text" readonly placeholder="{{formIt.placeholder}}" required [(ngModel)]="dataBindContainer[formIt.ngBind]"
      name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel" (click)="selectedAddress(formIt.ngBind)">
    <input *ngIf="formIt.type == 'number'" type="text" placeholder="{{formIt.placeholder}}" required [(ngModel)]="dataBindContainer[formIt.ngBind]"
      name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel">
    <input *ngIf="formIt.type == 'money'" type="text" placeholder="{{formIt.placeholder}}" required [(ngModel)]="dataBindContainer[formIt.ngBind]"
      name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel">
    <input *ngIf="formIt.type == 'time'" type="text" readonly placeholder="{{formIt.placeholder}}" required [(ngModel)]="dataBindContainer[formIt.ngBind]"
      name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel" (click)="selectedTime(formIt.ngBind)">
    <input *ngIf="formIt.type == 'picker'" type="text" readonly placeholder="{{formIt.placeholder}}" required [(ngModel)]="dataBindContainer[formIt.ngBind]"
      name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel" (click)="selectedPicker(formIt.ngBind)">
    <textarea *ngIf="formIt.type == 'textarea'" placeholder="{{formIt.placeholder}}" required [(ngModel)]="dataBindContainer[formIt.ngBind]"
      name="{{formIt.ngBind}}" #{{formIt.ngBind}}="ngModel"></textarea>
    <span *ngIf="formIt.roundLBtn != ''" class="roundTip ripple" [ngClass]="{'canUse': loginPhone.valid, 'cantUse': !loginPhone.valid}"
      (click)="formIt.lBtnCallBack != null ? formIt.lBtnCallBack(formIt) : {}">{{formIt.roundLBtn}}</span>
    <span *ngIf="formIt.txtLBtn != ''" class="txtTip ripple" (click)="formIt.lBtnCallBack != null ? formIt.lBtnCallBack(formIt) : {}">{{formIt.txtLBtn}}</span>
  </div>
  <a *ngIf="formType != '' && showSubmitBtn" class="formBtnWrap ripple" (click)="onSubmit(customForm)">
    <span class="formBtn">{{formSubmitBtnTxt}}</span>
  </a>
</form>
